/*viewport***************************************************************************************************************/

@media only screen and (max-width: 1440px) {
  .boxes {
    min-height: 500px;
    .box {
      &:nth-child(1) {
        animation: rollleft 500ms ease-out forwards;
      }
      &:nth-child(2) {
        animation: rollleft 500ms ease-out forwards 100ms;
      }
      &:nth-child(3) {
        animation: rollleft 500ms ease-out forwards 200ms;
      }
    }
  }

  .triangulum {
    border: solid #898989;
    border-width: 20px calc((100vw - 827px) / 2);
  }

  .about {
    border: solid #413e3e;
    border-width: 15px 0px;
  }

  .iris-1 {
    background-color: #6b6b6b;
  }

  .iris-2 {
    background-color: #ffffff;
  }

  .iris-3 {
    background-color: #a80000;
  }
}

@media only screen and (min-width: 1440px) {
  .boxes {
    flex-direction: column;
    border: solid #6b6b6b;
    border-width: 100px 30px;
    .box {
      &:nth-child(1) {
        animation: rolldown 500ms ease-out forwards;
      }
      &:nth-child(2) {
        animation: rolldown 500ms ease-out forwards 100ms;
      }
      &:nth-child(3) {
        animation: rolldown 500ms ease-out forwards 200ms;
      }
    }
  }

  .triangulum {
    max-width: calc((50vw - (50vw - 784px)));
    border: solid #898989;
    border-width: calc((100vh - 684px) / 2) calc((50vw - 792px) / 2);
  }

  .about {
    top: 0px;
  }
}